.wrapper__section{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* overflow-y: scroll; */
    
}

.Item__text{
   padding-top:12vh; 
}